$white-color: #efefef;

.game-board {
    display: inline-block;
}

.game-board .stats .tools {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board .stats .tools .token,
.game-board .stats .tools .coin,
.game-board .stats .tools .dice {
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 99;
}

#results {
    position: relative;
    left: 25px;
}

.ddescription {
    display: none !important;
    font-family: MONOSPACE;
    font-style: normal;
}

.devMode .ddescription {
    display: block !important;
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 0;
    //z-index: 10000;
    width: 100%;
    height: 100%;
}


.play-board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-top: 80px;

    .play-board {
        max-width: calc( 100% - 20px );
    }
    @media( min-width: 768px ) {
        .play-board-side {
            order: 9;
            max-width: 290px;
            width: 22%;
            // @media( max-width: 767px ) {
                // width: 100%;
            // }
        }

        .play-board {
            order: 5;
            max-width: calc(  60% - 30px );
        }

        .lcard-informations {
            order: 1;
            width: 18%;
            max-width: 200px;
            z-index: 999;
            background: #011d38;
            border-radius: 8px;
            display: block;
            overflow: hidden;
            margin: -10px;
            padding: 10px;
        }
    }

    .log-message {
        height: 604px;
        resize: none !important;
        display: block;
        position: relative;
        max-width: 360px;
        width: 100%;
        border: 1px solid $white-color;
        border-radius: 4px;
        padding: 10px;
        padding-bottom: 25px;
        font-size: 11px;
        color: $white-color;
        overflow: hidden;
        white-space: pre-wrap;
        overflow: auto;

        .log-step {
            max-width: 350px;
        }
    }

    .log-message-container {
        .card-key {
            color: #b4b4ed
        }

        .new-state {
            color: #f7a5a5;
        }

        .log-card-name {
            color: red;
        }
    }

    .log-message-header {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: flex-end;
        margin-bottom: 15px;
        gap: 15px;

        .log-title {
            margin: 0;
            flex-grow: 1;
        }

        .replay-button {
            color: greenyellow
        }
    }
}

#playtest {
    border: 1px solid $white-color;
    background-color: #000016;
    background-image: url('../asset/bk_layer_a.png');
    background-size: cover;
    // width: 750px;
    // margin: 20px auto;
    padding: 1rem;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    // max-width: 100%;

    @media (max-width: 767px) {
        padding: 10px;

        .game-board .card-slot-row {
            gap: 5px;

        }
    }

    .game-board {
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;



    }

    #hand,
    .card-slot-row {
        z-index: 1;

        &:hover {
            z-index: 2; // ontop
        }
    }

    .card-slot-row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 15px;

        .no-card-slot {
            visibility: hidden;
        }

        .holder-slot {
            // height: 102px;
            width: 102px;
            display: block;
            border: 1px solid #ccc;
            border-radius: 4px;
            position: relative;
            text-align: center;

            .card {
                display: block;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

            .description,
            .collection-count {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-weight: 600;
                font-size: 30px;
                z-index: 3;
            }

            .description {
                z-index: 1;
                font-size: x-small;
            }

            &.desk {
                height: 200px;
            }

            &.card-slot.highlight {
                // animation: moving-border 4s ease infinite;
                // border-style: solid;
                // border-radius: 4px;
                // border-width: 1px;
                // border-image: linear-gradient(45deg, red, blue) 10;
                // border-image-slice: 1;
                // border-image-outset: 0;
                // border-image-repeat: stretch;
                background-image: linear-gradient(90deg, silver 50%, transparent 50%), linear-gradient(90deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%);
                background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
                background-position: left top, right bottom, left bottom, right top;
                animation: border-dance 0.4s infinite linear;

            }

            @media (max-width: 767px) {
                // .description {
                //     display: none;
                // }

                .collection-count {
                    font-size: 16px;
                }

                &.card-slot.highlight {
                    animation: none;
                }
            }
        }


    }
}

.card {
    cursor: pointer;
    width: 70px;
    height: 102px;
    background-color: transparent;
    perspective: 1000px;
    // max-width: 100%;
    // max-height: 100%;

    &:hover {
        // Ontop for menu
        z-index: 99;
    }

    .card .card-imgs {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        transition: 0.4s ease;
    }

    .card-img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .card-name {
        display: none;
    }

    /* Animation */
    &.animate__animated {
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
    }

    .card-imgs {
        position: absolute;
        // max-width: 100%;
        // max-height: 100%;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;


        .card-img {
            position: absolute;
            width: auto;
            height: auto;
            top: 50%;
            left: 50%;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            transition: transform 0.3s;
            transform: translate(-50%, -50%) rotateY(0);

            &.back-image {
                transform: translate(-50%, -50%) rotateY(180deg);
            }
        }
    }

    &.fold {
        .card-imgs {
            .card-img {
                transform: translate(-50%, -50%) rotateY(180deg);
            }

            .back-image {
                transform: translate(-50%, -50%) rotateY(0);
            }
        }
    }

    &.defense .card-imgs {
        transform: rotateZ(90deg);
    }

    /* END Animation */
}

#hand {
    .hand-board {
        flex-wrap: nowrap;
        width: 80%;
        max-width: 900px;
        ;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 102px;
        justify-content: center;

        .hand-card-container {
            margin-top: 20px;
            margin-bottom: 20px;
            clear: both;
            position: relative;
            min-width: 10px;
            max-width: 100px;
            height: 102px;
            width: auto;

            .card {
                height: 100%;
            }
        }
    }

    .card-container {
        margin: 20px 0;
        clear: both;
        position: relative;
        min-width: 10px;
        max-width: 102px;
        height: 102px;
        width: auto;
    }
}

.collection-menu {
    .collection-container {
        padding: 0.5em 0;
        clear: both;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        gap: 10px;

    }
}

#playtest .actions {
    text-align: center;

    .input {
        margin: 1rem;
    }
}

body .ui-dialog .menu-dialog {
    padding: 0;

    .menu-dialog-inner {
        .menu-list {
            padding: 0;
            list-style: none;
            margin: 0;

            // border-top: 1px solid #ccc;
            li a {
                padding: 0.1em 0.2em;
                border-bottom: 1px solid #ccc;
                display: block;
                font-size: 11px;
                line-height: 25px;


                // width: 100px;
                &:hover {
                    background-color: #eee;
                }

                @media (max-width: 767px) {
                    line-height: 29px;
                    font-size: 14px;
                }
            }

            li:last-child a {
                border: none;
            }
        }
    }
}

.hidden {
    display: none !important;
}

// Dialog
body {

    font-size: 14px;
    .ui-dialog-card-menu {
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 2px 2px 0 0;
        transition: 0.1s ease-in-out;
    }

    .ui-widget-overlay {
        background-color: #00001680;
    }

}

.play-board {
    .lightbox-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #00001681;

        .card-lightbox-inner {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-cont {
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    // width: auto;
                    // height: auto;
                    // max-width: 100%;
                    width: auto;
                    max-height: 100%;
                }
            }
        }
    }
}

.move-container {
    position: absolute;
    transition: 0.2s ease-in-out;
}

.lcard-informations {
    // height: 646px;
    width: 240px;
    max-width: 20%;

    // border: 1px solid #efefef;
    .lcard-descriptons {
        max-height: 190px;
        overflow: auto;
        padding-right: 10px;
        text-align: justify;
    }

    .lcard-image {
        margin-bottom: 15px;
    }
}

// .card-info-lightbox#card-lightbox{
//     display: flex;
//     justify-content: space-around;
//     align-items: center;

//     @media (min-width: 768px) {
//         .card-lightbox-inner{
//             width: 80%;
//             height: 80%;
//             .image-cont{
//                 width: auto;
//                 height: auto;
//                 background: #fff;
//                 display: flex;
//                 gap: 20px;
//                 justify-content: space-between;
//                 flex-wrap: wrap;
//                 img {
//                     flex: 1;
//                     max-width: 250px;
//                     -webkit-animation-name: bounceIn;
//                     animation-name: bounceIn;
//                 }
//                 .card-descriptons{
//                     flex: 1;
//                     max-height: 365px;
//                     overflow: auto;
//                     padding-right: 10px;
//                     text-align: justify;
//                     min-width: 250px;
//                     color: #111111;
//                     -webkit-animation-name: fadeInLeft;
//                     animation-name: fadeInLeft
//                 }

//             }
//         }
//     }
//     @media (max-width: 767px) {
//         .card-lightbox-inner{
//             width: 80%;
//             height: 100%;
//             max-width: 280px;
//             .image-cont{
//                 height: 100%;
//                 flex-direction: column;
//                 justify-content: center;

//                 .card-descriptons{
//                     max-height: 200px;
//                     overflow: auto;
//                     background: #fff;
//                     color: #111111;
//                     padding: 10px;
//                     flex: 1;
//                     font-size: 12px;
//                 }
//             } 
//         }
//     }
// }

.lightbox-card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card-lightbox-bgr {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .card-lightbox-inner {

        z-index: 2;
        position: relative;

        .card-info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            padding-top: 20px;

            img {
                max-width: 250px;
            }

            .card-descriptons {
                text-align: justify;
                max-width: 350px;
                max-height: 292px;
                overflow: auto;
            }
        }
    }

    .lightbox-close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        width: 18px;
        height: 18px;
        border-radius: 3px;
        background-color: #fff;
        color: #e26868;
        font-size: 22px;
        display: block;
        line-height: 22px;

        i {
            margin-top: -2px;
        }
    }

    @media (min-width: 650px) {
        img {
            -webkit-animation-name: bounceIn;
            animation-name: bounceIn;
            z-index: 2;

        }

        .card-descriptons {
            z-index: 1;
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft
        }
    }

    @media (max-width: 649px) {
        .card-lightbox-inner {
            max-height: 100%;
            height: 100%;

            .card-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                max-height: 100%;

                img {
                    max-width: 250px;
                    flex: 1 1 auto;
                }

                .card-descriptons {
                    flex: 1 1 auto;
                    // max-width: 250px;
                    height: calc(100% - 292px);
                }
            }
        }

    }
}

@media (max-width: 1199px) {
    .lcard-informations {
        display: none;
    }
}

@keyframes moving-border {
    0% {
        border-image: linear-gradient(45deg, red, blue) 10;

    }

    50% {
        border-image: linear-gradient(45deg, blue, red) 10;


    }

    0% {
        border-image: linear-gradient(45deg, red, blue) 10;


    }
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }

    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
    }
}