$white-color: #efefef;
.game-board {
    display: inline-block;
}

.game-board .stats .tools {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board .stats .tools .token,
.game-board .stats .tools .coin,
.game-board .stats .tools .dice {
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 99;
}

#results {
    position: relative;
    left: 25px;
}

.ddescription{
    display: none !important;
    font-family: MONOSPACE;
    font-style: normal;
}
.devMode .ddescription {
    display: block !important;
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 0;
    //z-index: 10000;
    width: 100%;
    height: 100%;
}


.play-board-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-top: 80px;
    #log-message{
        height: 604px;
        resize: none !important;
        display: block;
        position: relative;
        min-width: 300px;
        border: 1px solid $white-color;
        border-radius: 4px;
        padding: 10px;
        padding-bottom: 25px;
        font-size: 12px;
        color: $white-color;
        overflow: hidden;
        white-space: pre-wrap;
        overflow: auto;

        .log-step{
            max-width: 350px;
        }
    }
    .log-message-container{
        .card-key{
            color: #b4b4ed
        }
        .new-state{
            color: #f7a5a5;
        }
        .log-card-name{
            color: red;
        }
    }
    .log-message-header{
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: flex-end;
        margin-bottom: 15px;
        .log-title{
            margin: 0;
        }
    }
}

#playtest {
    border: 1px solid $white-color;
    background-color: #000016;
    background-image: url('../asset/bk_layer_a.png');
    background-size: cover;
    // width: 750px;
    // margin: 20px auto;
    padding: 1rem;
    position: relative;
    display: inline-block;
    border-radius: 4px;


    .game-board{
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .card-slot-row{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 15px;

        .no-card-slot{
            visibility: hidden;
        }

        .holder-slot{
            height: 102px;
            width: 102px;
            display: block;
            border: 1px solid #ccc;
            border-radius: 4px;
            position: relative;
            text-align: center;
            
            .card{
                display: inline-flex;
            }
            .collection-count{
                position: absolute; 
                top: 0;
                 left: 0;
                width: 100%; 
                height: 100%;
               display: flex;
               justify-content: space-around;
               align-items: center;
                font-weight: 600;
                font-size: 30px;
            }
            &.desk{
                height: 200px;
            }
        }


    }
}

.card {
    cursor: pointer;
    width: 70px;
    background-color: transparent;

    .card-img{
        max-width: 70px;
        max-height: 102px;
        height: auto;
    }

    .back-image{
        display: none;
    }
    .front-image{
        display: inline-block;
    }
    .card-name{
        display: none;
    }
    &.flipped {
        .back-image{
            display: block;
        }
        .front-image{
            display: none;
        }
    }
    
    &.defense{
        width: 102px;
        img{
            transform: rotate(-90deg);
            position: relative;
            left: 14px;
        }
    }
}

#hand {
    .hand-board{
        flex-wrap: nowrap;
        width: 80%;
        max-width: 900px;;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 102px;
        justify-content: center;

        .hand-card-container{
            margin-top: 20px;
            margin-bottom: 20px;
            clear: both;
            position: relative;
            min-width: 10px;
            max-width: 100px;
            height: 102px;
            width: auto;
        }
    }

    .card-container {
        margin: 20px 0;
        clear: both;
        position: relative;
        min-width: 10px;
        max-width: 102px;
        height: 102px;
        width: auto;
    }
}
.collection-menu {
    .collection-container {
        padding: 0.5em 0;
        clear: both;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        gap: 10px;

    }
}

#playtest .actions {
    text-align: center;
    
    .input {
        margin: 1rem;
    }
}
body .ui-dialog .menu-dialog {
    padding: 0;
    .menu-dialog-inner {
      .menu-list {
        padding: 0;
        list-style: none;
        margin: 0;
        // border-top: 1px solid #ccc;
        li a{
            padding: 0.1em 0.2em;
            border-bottom: 1px solid #ccc;
            display: block;
            font-size: 11px;
            // width: 100px;
            &:hover {
                background-color: #eee;
            }
        }
        li:last-child a{
            border: none;
        }
      }
    }
  }
.hidden{
    display: none !important;
}

// Dialog
body {

    .ui-dialog-card-menu{
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 2px 2px 0 0;

    }
    .ui-widget-overlay{
        background-color: #00001680;
    }

}